.btn-link {
  text-decoration: none;
  color: black;
}



.description {
  font-family: 'Poppins';
  font-size: 13px;
  padding-bottom: 10px;
}

ol li {
  font-family: 'Poppins';

  .li-description {
    font-family: 'Poppins';
    font-size: 12px;
  }
}


.resume .resume-item {
  padding-bottom: 15px !important;
}